<div class="container-fluid">



  <br><br><h4>Explore the amenities we provide

  </h4>
  <div class="card d-flex"
    style="  margin-left: 70px ;margin-right: 70px;margin-bottom: 30px;text-align: left;   padding: 20px;"
    *ngFor="let amenity of amenities">
    <h5> {{amenity.title}}</h5>
    <p>

    
      <span>
        <img *ngIf="amenity.id!==openAmenityID" (click)="openAmenityID=amenity.id" class="img-size"
          src="https://img.icons8.com/external-phatplus-lineal-phatplus/344/external-down-arrow-essential-phatplus-lineal-phatplus.png"
          alt="">

        <img *ngIf="amenity.id===openAmenityID" (click)="openAmenityID=null" class="img-size"
          src="https://img.icons8.com/ios/344/circled-chevron-up.png" alt="">
      </span>
    </p>
    <br>

    <p *ngIf="openAmenityID===amenity.id"> {{amenity.type}}</p>

  </div>
</div>