<div style="background-color: rgb(235, 239, 239);">
<br><br><br><h2 class="text-dark" style="text-align: left; margin-left: 305px; ">Our Services</h2>
<h4 class="text-dark" style="text-align: left; margin-left: 305px;font-weight:100 ;">Explore curated lists of top rooms,book tables, by being at your place, based on trends
  and book.</h4>

<div style="display:flex;justify-content:center;flex-wrap: wrap;  ">
  <div *ngFor="let service of services" class="card" style="margin: 20px;" id="zoom-in">
    <a [routerLink]="[service.route,service.id]" [queryParams]="{serviceRoute:service.route}">
    <img class="imgCover2" [src]="service.imageUrl">
    <div class="imgtext">
        <h4 class="text-dark" style="text-align: center; padding: 12px;"> {{service.title}} &#10145;</h4>
      
    </div></a>
    <br>



  </div>
</div>
<br>
</div>