<h1 class="hey1" style="text-align: center;">Bookings</h1>
<br>
<div style="display:flex;justify-content:center;flex-wrap: wrap; ;  ">
    <div  *ngFor="let book of bookService" class="card" style="margin-left: 30px;">
 
        <img class="imgCover2" [src]="book.imageUrl">
        <div class="imgtext"   style="text-align: center;">
            <h4 class="text-dark"> Book &#10145;</h4>
            <p>{{book.Title}}</p>
            <p>{{book.stars}}</p>
            <p>{{book.amenities}}</p>
            <p>{{book.price}}</p>
        </div>

   


    </div>

    <br>
</div>
<br>