.main-nav {
    line-height: 4;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: static;
    top: 0;
    text-align: center;
   
}


#title {
    background-color: rgb(96, 92, 92);
    display:flex;
    justify-content: end;
}
 