<br><section id="title">
<br>
  <div class="con">
    <br>
    
   
    <a class="logo" href="#">The foodies bar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    
      <ul >
        <li >
          <a class="nav-link text-light" routerLink="">Home</a> 
        </li>
        <li>
          <a class="nav-link text-light" routerLink="/payments"><i class="material-icons text-light" style="cursor:pointer"
           
          >shopping_cart
          </i></a>
        </li>
        
        
        <li>
        <a class="nav-link text-light" routerLink="/login" >Logout</a>
      </li>   </ul>
      <br>
    <br>
  
<br>
</div>
</section><br>
