.con{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 4px 10px;
    
    
    font-size: large;
    z-index: 10;
    background-color: rgb(67, 67, 69);
}
.logo{
position: relative;
font-weight: 700;
color: aliceblue;
font-size: 1.5em;
text-transform: uppercase;
letter-spacing: 2px;
transition: 0.6s;
text-align: left;
text-decoration: none;
}
 
.con ul{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
}
.con  ul li{
    position: relative;
    list-style: none;

}
.con  ul li a{
    margin: 0 25px;
    position: relative;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
.image{
    width: 10px;
    height: 20px;
}